
<div class="header_text">Find recipes that will make your day!</div>
<div class="search_image">
</div>
<div class="card-section content" >
  <form class="">
    <span class="inline-label">
    <input type="search" placeholder="Search a recipe">
    <a href="#" class="button">Search</a>
    </span>
    <a href="#" zf-toggle="searchPanel">Search form</a>
  </form>

  <div class="card-divider">
    <div class="grid-block small-up-3" style="padding-left:2% padding-top:5%">
      <div class="grid-content shrink"  ng-repeat="c in categories">
        <a class="small button dark" href="#" ng-style="{'background-color':c.color}" style="color:black; width:75px">{{c.name}}</a>
      </div>
    </div>
  </div>
</div>


<style>
.header_text{
    position: relative;
    height: 0;
    top:100px;
    text-align: center;
    z-index: 1;
    font-size: 40px;
    font-weight:bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem;
    background-attachment: fixed;
    padding-left: 5%;
    padding-right: 5%;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    padding-bottom: 10px
}
.search_image{
  background: #ffffff url('https://lh3.googleusercontent.com/45vm1IkVheRAvy7ujXee2qYPovXOCLkXRbMqELXIcv7XmAVfnmU31NbT4i-sRvUk3X1c=h900');
  background-size:cover;
  background-position: top;
  /*background-attachment: fixed;
  display: block;*/
  filter: blur(2px);
  -webkit-filter: blur(2px);
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  left: 0;
  right: 0;
  bottom:0;
  width:100%;
  height: 300px;
  z-index: -100;
}

.content {
  background: rgba(255, 255, 255, 0.80);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  right: 0;
  z-index: 2;

}

</style>
