---
name: home
url: /
controller: FoodController
---
<div zf-panel="" id="searchPanel" position="right" zf-swipe-close="right">
<a zf-close="" class="button">X</a>
<div ng-include="'partials/search.html'"></div>
</div>
<zf-offcanvas id="menu" position="left" zf-swipe-close="left">
<a zf-close="" class="close-button">×</a>
 <div ng-include="'partials/menu.html'"></div>
</zf-offcanvas>

<div class="grid-container">

    <div class="grid-container">
      <div ng-include="'partials/search_area.html'"></div>
    </div>


    <div class="grid-block large-up-2">
      <div ng-repeat="c in categories">
        <a ui-sref="description">
        <div class="card">
        <img src="https://s3-ap-southeast-1.amazonaws.com/hungryforever/wp-content/uploads/2015/12/10130016/Biriyani-featured.jpg">
          <div class="card-divider grid-block" ng-style="{'background-color':c.color}">
            <div class="grid-content" style="color:black;">
              <strong>Biriyani Indienne</strong>
            </div>
            <div class="grid-content small-1">
              <a class="icon right" href=""><img zf-iconic="" icon="thumb" size="medium" class="iconic-color-success"></a>
            </div>
            <div class="grid-content" style="padding-left:10%">
              <blockquote><cite>{{c.name}}</cite></blockquote>
            </div>
          </div>


          <div class="card-section">


            <div class="grid-block small-up-2 medium-up-4 large-up-2">

              <div class="grid-block">
                <div class="small-5 grid-block" style="padding-left:20%">
                  <div class="grid-block"><img ng-src="assets/img/colorpng/chilly.png" style="width:30px;height:30px;"/></div>
                  <div class="grid-block"><img ng-src="assets/img/colorpng/chilly.png" style="width:30px;height:30px;"/></div>
                  <div class="grid-block"><img ng-src="assets/img/colorpng/chilly_bw.png" style="width:30px;height:30px;"/></div>
                </div>
                <div class="small-7 grid-block " style="padding-left:25%">
                    Extreme spicy
                </div>
              </div>

              <div class="grid-block">
                <div class="small-4 grid-block" style="padding-left:10%">
                    <img ng-src="assets/img/colorpng/clock 2.png" style="width:30px;height:30px;"/>
                </div>
                <div class="small-8 grid-block " style="padding-left:25%">
                    120 minutes
                </div>
              </div>

              <div class="grid-block">
                <div class="small-4 grid-block" style="padding-left:20%">
                    <div class="grid-block"><img ng-src="assets/img/colorpng/money-bag.png" style="width:30px;height:30px;"/></div>
                </div>
                <div class="small-8 grid-block green" style="padding-left:30%">
                    Cheap
                </div>
              </div>

              <div class="grid-block">
                <div class="small-5 grid-block" style="padding-left:20%">
                    <div class="grid-block"><img ng-src="assets/img/colorpng/medal.png" style="width:30px;height:30px;"/></div>
                    <div class="grid-block"><img ng-src="assets/img/colorpng/medal.png" style="width:30px;height:30px;"/></div>
                    <div class="grid-block"><img ng-src="assets/img/colorpng/medal_bw.png" style="width:30px;height:30px;"/></div>
                </div>
                <div class="small-8 grid-block red" style="padding-left:30%">
                    Difficult
                </div>
              </div>

              <div class="grid-block">
                <div class="small-4 grid-block" style="padding-left:15%">
                    <img ng-src="assets/img/colorpng/documentation.png" style="width:30px;height:30px;"/>
                </div>
                <div class="small-8 grid-block" style="padding-left:30%">
                    4 ingredients
                </div>
              </div>

            </div>


          </div>
        </div>
      </a>
      </div>

  </div>
</div>


<style>
.green{
  color: #3b8686;;
  font-size: 24px;
}
.yellow{
  color: #FFBC42;
}
.red{
  color: #f15c5c; font-size: 24px; font-family: 'Signika', sans-serif;
}
</styl>
