---
name: login
url: /login
controller: FoodController
---
<div zf-panel="" id="searchPanel" position="right" zf-swipe-close="right">
<a zf-close="" class="button">X</a>
<div ng-include="'partials/search.html'"></div>
</div>
<zf-offcanvas id="menu" position="left" zf-swipe-close="left">
<a zf-close="" class="close-button">×</a>
 <div ng-include="'partials/menu.html'"></div>
</zf-offcanvas>

<div class="card padding medium-6">
  <div class="login">
    <h3>Login</h3>
    <label>
    Email
    <input type="text" placeholder="email">
    </label>

    <label>
    Password
    <input type="password" placeholder="Password">
    </label>

  <button class="button">Login</button>
  </div>
<hr/>
  <div class="register">
    <h3>Register</h3>
    <label>
    Email
    <input type="text" placeholder="email">
    </label>

    <label>
    Name
    <input type="text" placeholder="name">
    </label>

    <label>
    Password
    <input type="password" placeholder="Password">
    </label>

    <label>
    Confirm Password
    <input type="password" placeholder="Confirm Password">
    </label>

  <button class="button">Register</button>
  </div>


</div>
